<div class="jumbotron center">
    <h1>Pulpit App</h1>
    <% if user_signed_in? %>
        <%= link_to "Add New Sermon", "#", class: "btn btn-primary btn-lg" %> 
    <% else %>
        <h3>A web application to create sermon outlines, access them anywhere, and preach your heart out.</h3>
        <%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <% end %>
</div>